.container.contact__container{
    margin-left: 34rem;
    width: 52%;
    display:grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.container.contact__container2{
    margin-left: 0rem;
    width: 52%;
    display:list-item;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.container__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    gap: 55%;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


/* FOR RESPONSIVE ====== MEDIA QUERIES medium devies */
@media screen and (max-width: 1024px){
   .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
   }
   .container.contact__container2{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


/* FOR RESPONSIVE ====== MEDIA QUERIES small devices */
@media screen and (max-width: 600px){
    .container.contact__container{
        width: var(--container-width-sm);
   }
   .container.contact__container2{
        width: var(--container-width-sm);
    }

}

